<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="./lib/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <style>
      .active {
        background: #a10;
      }
    </style>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app1">
    请告诉我你的名字：
    <input  v-model="name">
    </br>
    <span v-show="name"> 你的名字是:{{name}}呀! haha </span>
   
    <a v-bind:class="{active: isActive}" v-bind:href="url">Clike me!</a>
  </div>

  <div id="app2">
    <ul>
      <li v-for="food in foodList">{{food.name}}: {{food.price}}</li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })

    var app1 = new Vue({
      el: '#app1',
      data:{
        name: '',
        url:'http://www.youtube.com',
        kclass: 'btn btn-defult',
        isActive: true
      }
    })

    var app2 = new Vue({
      el:'#app2',
      data:{
        foodList: [
          {
            name: 'Onion',
            price: '$10'
          },
          {
            name: 'Ginger',
            price: '$18'
          },
          {
            name: 'Garlic',
            price: '$12'
          }
        ]
      }
    })

  </script>
</body>
</html>